

.About-paragraphs{
    text-align: left;
}

.img{
    height: 25rem;
    margin-right: 9vw;
    margin-left: 1vw;
    border-radius: 5px;
}

.links{
    margin-top: 3vh;
    text-align: center;
}

.link{
    margin: 5vw;
    color: black;
}

.About-name{
    margin: 1rem;
}

.contacts{
    margin: 2rem;
} 

a{
    text-decoration: none;
}