.App {
  text-align: center;
  font-family: monospace;
  background-repeat: no-repeat;
  background-position: center;
  background-size : cover;
  min-height: 100vh;
  background-color: rgb(246, 249, 246);
  /* background-color: rgb(51, 82, 94); */
  /* color: rgb(215, 215, 215) */

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

Container{
  display: block;
}