.NavBar-link{
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}
.NavBar{
    background-color: rgba(134, 167, 144, 0.5);
    font-weight: bold;
    font-size: large;
}

.nav-name{
    margin-left: 1rem;
}
